<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <a class="intaGram" href="https://www.instagram.com/stay_sphere__/" ><i class="fa-brands fa-square-instagram"></i></a>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="f-info-company">&copy StaySphere private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;
            <a href="/terms">Terms</a>&nbsp;
            <a href="/detail">Company details</a>
        </div>
    </div>
</footer>