<% layout("/layouts/boilerplate") %>
<body class="form-body">
<div >
<div class="row mt-3">
    <div class="col-5 offset-3">
        <form method="post" action="/signup" novalidate class="needs-validation">
        <div class="login-form mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter username</div>

            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" required/>
             <div class="valid-feedback">Email filled</div>
            <div class="invalid-feedback">Please enter correct email</div>

            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" required/>

            <button class="btn btn-primary mt-3">Signup</button>
         
        </div>
        </form>
    </div>
</div>
</div>
</body>